<a class="service-card reveal" href="<%= item[:link] %>">
  <div class="service-icon"><%= item[:icon] %></div>
  <h3><%= item[:judul] %></h3>
  <p><%= item[:deskripsi] %></p>
  <span>Selengkapnya →</span>
</a>
