<% @title = "Kepala Sekolah - SMA Negeri 1 Adiankoting" %>

<section class="page-hero">
  <div class="container page-hero-content">
    <span class="eyebrow">Kepala Sekolah</span>
    <h2>Sambutan Kepala Sekolah</h2>
    <p>Sambutan dan pesan dari Kepala SMA Negeri 1 Adiankoting.</p>
  </div>
</section>

<section class="section principal-section">
  <div class="container principal-grid">
    <div class="principal-photo">
      <div class="photo-placeholder principal-real-photo">
        <img
          src="https://scontent.fkno9-1.fna.fbcdn.net/v/t1.6435-9/80011687_839950073122273_2581621094058295296_n.jpg?_nc_cat=107&ccb=1-7&_nc_sid=1d70fc&_nc_eui2=AeFbN73MvV5kctEVIwFdI1uhQXeREF1r37lBd5EQXWvfuRN8KhFU28tc-IUOAWz8oRknGWqKOrfNGis4CjYPABJo&_nc_ohc=1xLi1xRIZH0Q7kNvwFzTg33&_nc_oc=AdoztJRiph9w9VvVc7oV7BfVERagJhf64Vn4Zbt1GEAXv7kIXPXL3LeixHqtdJwelOY&_nc_zt=23&_nc_ht=scontent.fkno9-1.fna&_nc_gid=W2wNDv_kq32FXwc1HLACGw&_nc_ss=7b2a8&oh=00_Af4m6hhx5VJIK6iBvPWl1I5RyI0ys7RqEmVZHiQUqRxwRg&oe=6A242C0E"
          alt="Foto Kepala Sekolah SMA Negeri 1 Adiankoting"
        >
      </div>
    </div>

    <div class="principal-content">
      <span class="eyebrow">Sambutan Kepala Sekolah</span>

      <h2>Kepala SMA Negeri 1 Adiankoting</h2>

      <h3>Soarsak Rajagukguk, S.Si</h3>

      <p>
        Selamat datang di website resmi SMA Negeri 1 Adiankoting. Website ini
        kami hadirkan sebagai media informasi dan komunikasi antara sekolah,
        peserta didik, orang tua, alumni, dan masyarakat.
      </p>

      <p>
        Kami berkomitmen untuk terus meningkatkan kualitas pendidikan melalui
        pembelajaran yang bermutu, pembinaan karakter, serta pengembangan
        potensi peserta didik dalam bidang akademik dan non-akademik.
      </p>

      <div class="signature-box">
        <strong>Soarsak Rajagukguk, S.Si</strong>
        <span>Kepala SMA Negeri 1 Adiankoting</span>
      </div>
    </div>
  </div>
</section>